<h1>Contact information</h1>
<div class="row">
  <div class="col-md-8">
    <p>Here is contact information for the developer of this app:</p>
    <dl class="dl-horizontal">
      <dt>Student name</dt>
      <dd>{{ s.name }}</dd>
      <dt>Student number</dt>
      <dd>{{ s.id }}</dd>
      <dt>City</dt>
      <dd>{{ s.city }}</dd>
    </dl>
  </div>
  <div class="col-md-4 well">
    <p>
      Nesa is a 2nd year BSD student who loves to code. One of her web programming project can be found at:
      <br><br>
      <a href="https://warm-waters-41433.herokuapp.com/" > AMAZING LIFE</a>
      <br><br>
      This personal website showcases her photography and artistic skills.
      <br>
     </p>
  </div>
</div>